article > .content {
    padding: 50px 0px;
    gap: 50px;
}

#content {
    flex-direction: column;
    width: 100%;
    align-items: end;
}

#content h1{
    text-align: start;
    width: 100%;
}

#content > div:not(#gray-area) {
    padding: 0px 50px;
}

#gray-area {
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 50px;
    background-color: var(--ligthgray);
    border-top: solid 4px var(--darkgray);
    border-bottom: solid 4px var(--darkgray);
    gap: 30px;
    justify-content: space-between;
}

#gray-area h2 {
    width: 100%;
}

#body-tables {
    flex-direction: column;
    width: 40%;
    gap: 30px;
}

#times {
    gap: 10px;
}

#times label {
    width: 35%;
}

#times div {
    flex-direction: row;
    position: relative;
}

#times > div::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    width: 25px;
    height: 25px;
    

    background-image: url('/icons/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%) rotate(-90deg);
}

select {
    display: flex;
    appearance: none;
    flex: 1;
    border: solid 1px var(--darkgray);
    border-radius: 2px;
    padding-left: 5px;
}

option div {
    width: 100%;
    height: 100%;
    background-color: red;
}

#local {
    gap: 10px;
}

#local div {
    flex-direction: row;
    gap: 10px;
}

#local div input {
    display: flex;
    flex: 1;
}

#gray-area h2 {
    text-align: start;
}

#cat-basic {
    gap: 10px;
}

#cat-basic div {
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

#cat-basic label {
    width: 15%;
}

#interval {
    gap: 10px;
}

#interval div {
    gap: 10px;
    flex-direction: row;
}

#interval input {
    display: flex;
    flex: 1;
}

#checkboxes {
    flex-direction: row;
    gap: 30px;
}

#checkboxes div div {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#body-tables img {
    width: 25px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

td div {
    justify-content: space-between;
}

td {
    padding: 7px;
}

#discount {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: start;
}

#discount .form div {
    justify-content: end;
}

#discount h3 {
    width: 100%;
    text-align: start;
}

#discount .body-table{
    width: 30%;
}

#discount img {
    width: 25px;
    height: auto;
    object-fit: contain;
}

#emails {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: start;
}

#emails h3 {
    width: 100%;
    text-align: start;
}

#emails img {
    width: 25px;
    height: auto;
    object-fit: contain;
}

.buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0px 50px;
}

.td-width {
    width: 500px;
}