article {
    padding: 50px 10px 50px 10px;
}

#tournaments {
    align-items: start;
    flex-direction: column;
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
}

#tournaments h1 {
    width: 100%;
    text-align: center;
}

.tournament {
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    align-items: stretch;
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 15px 30px;
    
}

.tournament h3{
    text-align: start;
}


.tournament p{
    font-size: 13pt;
    font-weight: 400;
}

.tournament img{
    width: 160px;
    height: auto;
    flex-shrink: 0;
    object-fit: contain; /* Faz a imagem manter a proporção, sempre tentar usar se você precisa garantir que a imagem fique exata sempre */
}

.tournament .content {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    flex: 1;
}

.tournament .informations {
    gap: 50px;
}


span.r {
    color: var(--mainred);
    font-weight: 600;
    margin-top: 10px;
}

.pbuttons {
    gap: 10px;
    flex-direction: row;
    width: 100%;
}

/*margin*/