

#bars-content {
    justify-content: space-between;
}

#l1 {
    width: 30%;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 30px;
}

#l2 {
    width: 65%;
}

#form-content h1{
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    h1 {
        padding: 0px;
    }

    #form-content h2 {
        font-size: 20pt;
        padding: 0px;
    }

    article {
        padding: 5px;
    }
    
    .informations {
        font-size: 10pt;
    }

    #form-content h1{
        margin-bottom: 30px;
    }

    .error {
        font-size: 11pt;
    }
    
    #info {
        display: none;
    }

    #l1 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        gap: 5px
    }

    #l2 .genre {
        justify-content: start;
        gap: 5px;
    }

    #final-button {
        margin-top: 0px;
    }

    .obs-fide {
        margin-left: -25px;
    }

    .form .div-categorie {
        gap: 10px;
        justify-content: start;
    }

    #qr-div {
        align-items: center;
    }

    #l2 h3 {
        text-align: start;
    }

    #l1 img {
        width: 30%;
    }

    #l2 {
        width: 100%;
    }

    .bar {
        display: none;
    }

    #informations {
        flex-direction: column;
    }

    #bars-content {
        justify-content: center;
    }

    #form-content {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 95%;
    }

    #form-content .form h3 {
        font-size: 10pt;
    }

    #form-content .form .obs {
        font-size: 9pt;
    }

    .form > div{ /* Afeta apenas a primeira div de dentro */
        justify-content: space-between;
    }

    input[type="radio"] {
        zoom: 1.2;
    }

    #qr-div {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        justify-content: start;
    }

    #qr-div h2 {
        font-size: 12pt;
    }

    #qr-div p {
        font-size: 10pt;
    }

    #qr-div > img{
        width: auto;
        height: 100px;
        object-fit: contain;
    }

    .upload-file button {
        gap: 10px;
        padding: 15px 10px;
    }
}