.bar {
    width: 5%;
    background-color: var(--ligthgray);
}

#form-content h2 {
    font-size: 25pt;
}

#form-content .form {
    flex-direction: row;
    flex-wrap: wrap;
}

#form-content .obs {
    font-size: 13pt;
}

#form-content h3 {
    font-size: 15pt;
    font-weight: 400;
}

#form-content {
    flex-direction: column;
    width: 85%;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
}

#form-content img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

#informations {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

#input-date {
    background-color: white;
    width: 100%;
}

input[type="radio"] {
    accent-color: var(--mainred);
    zoom: 1.5;
    cursor: pointer;
}

.genre {
    width: calc(65% - 30px);
    gap: 0px;
}

.input {
    margin-top: 20px;
    background-color: white;
    border: solid 1px var(--darkgray);
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    font-size: 12pt;
    text-align: start;
    align-items: start;
}

.fide-link {
    color: blue;
    text-decoration: underline;
    font-weight: 500;
}

.form .buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

details {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--darkgray);
    border-radius: 2px;
    
}

summary {
    width: 100%;
    list-style: none;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}

summary p {
    font-weight: 500;
}

#new-player {
    border: solid 1px var(--darkgray);
    border-radius: 2px;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

/* --mainred */

.disable {
    pointer-events: none;
}

#warning-box {
    color: white;
    width: 100%;
    
    padding: 10px 20px;
    background-color: #ff8200;
    border-radius: 10px;
    border: solid 4px #e47600;
}

#warning-box p{
    font-weight: 500;
}

.select-radios div {
    flex-direction: row;
    gap: 15px;
    align-items: center;
}