
#th-padding {
  padding-right: 25px;
}

#th-padding-2 {
  padding-right: 59px;
}

#img-trash {
  width: 30px;
  height: auto;
  object-fit: contain;
}

#content h1{
  width: 100%;
  text-align: start;
}

#content {
    flex-direction: column;

    align-items: end;
    gap: 10px; 
    width: fit-content;
    
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  word-break: break-all;
}

td p {
  font-size: 15pt;
  font-weight: 400;
}

.td {
    width: 100%;
    gap: 8px;
    align-items: center;
    min-height: 50px;
}

th {
    text-align: start;
}

.input-user {
    background-color: white;
    padding: 0px 13px;
}

.input-user input[type="checkbox"] {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    -moz-appearance: none;    /* Firefox */
    appearance: none;
    
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: solid 1px black;
    box-shadow: none;
    border-radius: 1px;
}

.input-user input[type="checkbox"]:checked {
    background-color: black;
    background-image: url('/icons/checked-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

#div-search-bar {
    width: 100%;
    height: 40px;
    border: solid 2px var(--darkgray);
}

#div-search-bar input {
    width: 100%;
}

#div-search-bar input:focus {
    outline: none;
    border: none;
    background-color: var(--ligthgray);
}

#icon-search {
    background-color: var(--darkgray);
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
}

#icon-search img {
    height: 60%;
    width: auto;
    object-fit: contain;
}