#herobar img {
    width: 230px;
}

@media (max-width: 768px) {
    /* HEROBAR ===============================================================================================================*/
    
    #herobar img {
        width: 150px;
    }

    #herobar h1 {
        font-size: 15pt;
    }

    #herobar h2 {
        font-size: 15pt;
        font-weight: 300;
    }

    #herobar {
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 30px;
    }

    /* HEROBAR ===============================================================================================================*/

    /* SLIDER ================================================================================================================*/

    #slider img {
        height: 200px;
    }

    /* SLIDER ================================================================================================================*/

    /* TOURNAMENTS ===========================================================================================================*/

    #tournaments {
        flex-direction: column;
    }
    
    .tournaments {
        width: 100%;
    }

    .tournament {
        padding: 15px;
        gap: 10px;
    }

    .tournament img{
        width: 110px;
    }

    .tournament p{
        font-size: 8pt;
    }

    #pbuttons {
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }

    /* TOURNAMENTS ===========================================================================================================*/

    /* HISTORY ===============================================================================================================*/

     #history{
        flex-direction: column-reverse;
        max-height: none;
        height: auto;
    }

    #p-content{
        padding: 35px 20px;
    }

    #p-content > div{
        width: 100%;
        align-items: center;
        padding-bottom: 0px;
    }

    #p-content h1{
        margin: 0px;
    }

    #history p {
        font-size: 10pt;
    }

    #history #img{
        flex: none;
        width: 100%;
        height: 320px;
        overflow: hidden;
    }

    #history #img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    /* Remove o degradê lateral do desktop */
    #history #img::after{
        display: none;
    }

    /* Cria um degradê em cima da imagem */
    #history #img::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;

        background: linear-gradient(
            to bottom,
            rgb(0,0,0) 0%,
            rgba(0,0,0,.8) 40%,
            rgba(0,0,0,0) 100%
        );

        z-index: 2;
        pointer-events: none;
    }

    /* HISTORY ===============================================================================================================*/

    /* FOUNDERS ==============================================================================================================*/

    #img-founders {
        gap: 0px;
        width: 100%;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .founder {
        flex-direction: column;
        width: calc((100% - 10px)/ 2);
        padding: 20px;
        margin-bottom: -20px;
        align-items: center;
    }

    .founder img {
        width: 130px;
        height: 130px;
    }

    .founder .content {
        row-gap: 5px;
    }

    .founder p {
        font-size: 10pt;
    }

    .founder h3{
        font-size: 12t;
    }

    /* FOUNDERS ==============================================================================================================*/

    /* ORIGINS ===============================================================================================================*/

    #origins img {
        height: 200px;
    }

    /* ORIGINS ===============================================================================================================*/
}