#herobar img {
    width: 230px;
}

@media (max-width: 768px) {
    /* HEROBAR ===============================================================================================================*/
    
    #herobar img {
        width: 150px;
    }

    #herobar h1 {
        font-size: 15pt;
    }

    #herobar h2 {
        font-size: 15pt;
        font-weight: 300;
    }

    #herobar {
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }

    /* HEROBAR ===============================================================================================================*/
    /* COMPARATION ===========================================================================================================*/
    
    #comparation div {
        gap: 5px;
    }

    #comparation div img {
        width: calc(50% - 2.5px);
    }

    /* COMPARATION ===========================================================================================================*/

    /* SLIDER ================================================================================================================*/

    #slider img {
        height: 200px;
    }

    /* SLIDER ================================================================================================================*/

    /* TOURNAMENTS ===========================================================================================================*/

    #tournaments {
        flex-direction: column;
    }
    
    .tournament img{
        width: 180px;
    }

    .tournament p{
        font-size: 8pt;
    }

    #pbuttons {
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }

    /* TOURNAMENTS ===========================================================================================================*/

    /* HISTORY ===============================================================================================================*/

    #history {
        flex-direction: column-reverse;
    }

    #p-content div {
        width: 98%;
        align-items: center;
    }

    #history #img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #history #img::before{
        width: 100%;
        height: 50px;
        background: linear-gradient(
            to bottom,
            rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.85) 40%,
        rgba(138, 43, 226, 0) 75%   
        );
    }

    /* HISTORY ===============================================================================================================*/

    /* FOUNDERS ==============================================================================================================*/

    #img-founders {
        gap: 10px;
        flex-wrap: wrap;
    }

    #img-founders div {
        width: calc((100% - 20px) / 3);
    }

    #img-founders h3 {
        font-size: 15pt;
    }
    
    #founders img {
        height: 200px;
    }

    /* FOUNDERS ==============================================================================================================*/

    /* ORIGINS ===============================================================================================================*/

    #origins img {
        height: 200px;
    }

    /* ORIGINS ===============================================================================================================*/
}