#content {
    flex-direction: column;
    width: 80%;
    gap: 50px;
}

#folder-img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

#info {
    width: 100%;
    justify-content: space-between;
    align-items: start;
}

#downloads {
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

#downloads .buttons {
    width: 100%;
    gap: 30px;
}

#downloads .buttons button {
    display: flex;
    flex: 1;
}

#players {
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

th {
    text-align: start;
}

td a {
    color: rgb(58, 58, 58);
    font-size: 10pt;
    font-style: italic;
    text-decoration: underline;
}

























#div-search-bar {
    width: 100%;
    height: 40px;
    border: solid 2px var(--darkgray);
}

#div-search-bar input {
    width: 100%;
}

#div-search-bar input:focus {
    outline: none;
    border: none;
    background-color: var(--ligthgray);
}

#icon-search {
    background-color: var(--darkgray);
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
}

#icon-search img {
    height: 60%;
    width: auto;
    object-fit: contain;
}