article {
    padding-bottom: 50px;
}

/* TITLE ===============================================================================================================*/

#title { 
    width: 100%;
    flex-direction: column;
    color: white; 
    background-color: black;
}

#title #img {
    position: relative;
}

#title img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center 55%;
}

#title #img::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 30px;
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 40%,
    rgba(138, 43, 226, 0) 75%   
    );

    pointer-events: none;
}

#title #img::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 30px;
    background: linear-gradient(
        to top,
        rgb(255, 255, 255) 0%,
    rgba(160, 160, 160, 0.85) 40%,
    rgba(138, 43, 226, 0) 75%   
    );

    pointer-events: none;
}

#title .content {
    width: 100%;
    flex-direction: column;
    background-color: black;
    padding: 20px 0px;
    align-items: center;
}

/* TITLE ===============================================================================================================*/

#historic {
    width: 80%;

    margin-top: 30px;
}

#side-bar {
    flex-direction: column;
    width: 30%;
    border-top: solid 4px var(--darkgray);
    border-bottom: solid 4px var(--darkgray);
    border-left: solid 4px var(--darkgray);
    padding: 10px 20px;
    height: fit-content;
}

.event {
    flex-direction: column;
}

summary {
    display: flex;
    list-style: none;
    gap: 10px;
    cursor: pointer;
}

details p{
    font-size: 18pt;
    font-weight: 500;
    text-align: start;
}

details > p{
    padding-left: 40px;
    cursor: pointer;
}

#historic .content {
    flex-direction: column;
    border: solid 4px var(--darkgray);
    padding: 10px 30px 50px 30px;
    gap: 30px;
}

#historic .content div {
    row-gap: 10px;
}

#historic .content h2 {
    font-weight: 600;
    text-align: start;
}