article {
    padding: 50px 0px;
    gap: 50px;
}

#text-event {
    width: 60%;
    text-align: center;
}

#img-event {
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: center 0%;
}

.premiation {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.tables-body {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 50px;
}


#link-photos {
    font-size: 20pt;
    font-weight: 600;
    color: blue;
    text-decoration: underline;
}